# Python general
__pycache__/
*.py[cod]
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
.env
.venv
env/
venv/

# Log files
*.log

# Project specific ignores
# Ignore JSON files in the root, but not the timetable or data files
*.json
!buskita/static/timetable.json
!buskita/data/*.json
!buskita/data/*.json

# OS / Editor specific
.DS_Store
.vscode/
.idea/
